body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navbar styling */
.navbar {
  position: sticky;
  width: 100%;
  font-family: monospace;
  color: #fff;
  padding: 15px 25px;
  transition: all 0.3s ease;
  background: #000;
  top: 0;
  z-index: 999;
}

.navbar.sticky {
  padding: 12px 25px;
  background: #000;
}

.navbar .header a {
  text-decoration: none;
  color: rgb(241, 239, 239);
  transition: 0.4s;
}

.navbar .header a:hover {
  color: #fd2155;
  cursor: pointer;
}

.navbar .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo styling */
.navbar .logo a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar .logo img:hover {
  transition: all 0.3s ease;
  opacity: 0.8;
}

.navbar.sticky .logo a {
  text-decoration: none;
}

/* menu styling */
.navbar .menu {
  float: right;
  margin: 0px;
  padding: 0px;
}

.navbar .menu li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
  font-size: 15px;
}

.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}

.navbar .menu-button {
  color: #fff;
  cursor: pointer;
  font-size: 23px;
  display: none;
}

/* Home Section Styling */
.home {
  display: flex;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: monospace;
  background: #0e0e0e;
  background-size: 800px;
  min-height: 500px;
}

.home .home-section {
  margin: auto auto;
  text-align: center;
}

.home .home-section .home-content {
  text-align: center;
  padding: 0 5px;
}

.home .home-content .text1 {
  font-size: 20px;
  font-family: monospace;
  color: #fd2155;
}

.home .home-content .text2 {
  font-family: 'Mandali', sans-serif;
  font-size: 5em;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 0 10px;
}

.home .home-content .text3 {
  padding: 0 10px;
  font-size: 1.5em;
  font-family: "Sora", sans-serif;
  color: #b1acac;
}

/* About me section styling */
.about {
  padding: 100px 0;
  background: #fff;
  width: 100%;
}

.about .title {
  position: relative;
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.about-content .about-text {
  padding: 20px 50px 20px 50px;
  text-align: justify;
}

.about-content .about-text p {
  margin: 0;
  display: inline;
  line-height: 27px;
  font-size: 16px;
  font-family: 'Sora', sans-serif;
  color:rgba(44, 44, 44, 0.7);
}

.about-content img {
  height: 450px;
  width: 350px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 9px 9px 15px #b1acac;
  display: inline;
  text-align: center;
}

/* Projects section styling */
.projects {
  background: #0e0e0e;
  width: 100%;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.projects .title {
  position: relative;
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.projects .card-group {
  padding: 0 30px;
}

.projects .card {
  border: none;
  background: rgba(44, 44, 44, 0.5);
  margin: 15px 10px;
  padding: 15px 10px;
  border-radius: 15px;
  display: flex;
}

.projects .card:hover {
  transform: scale(1.03);
}

.projects img {
  border-radius: 10px;
}

.projects img:hover {
  transform: scale(1.03);
  opacity: 0.5;
}

.projects h5 {
  color: #fff;
  font-family: "Sora", sans-serif;
  padding: 10px;
}

.projects p {
  padding: 0 15px;
  color: #b1acac;
  font-size: 18px;
  text-align: justify;
  word-wrap: wrap;
}

.projects .icons {
  padding: 10px 10px;
  margin-bottom: 15px;
}

.projects .icons i {
  font-size: 50px;
  padding: 0 8px;
}

.projects a {
  text-decoration: none;
}

.projects a i {
  font-size: 25px;
  padding: 0 5px;
  color: #fff;
}

.projects .card:hover {
  background: rgba(44, 44, 44, 0.9);
}

/* Contact me section styling */
.contact {
  padding: 100px 50px 50px 50px;
  margin-bottom: 10px;
}

.contact .title {
  position: relative;
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.contact h7 {
  font-family: "Sora", sans-serif;
  display: block;
  padding-bottom: 20px;
}

.contact ul {
  padding: 20px 0px 10px 0px;
  list-style: none;
}

.contact li {
  display: inline;
  padding: 5px;
}

.contact li {
  font-family: "Sora", sans-serif;
  font-size: 15px;
  opacity: 0.8;
}

.contact ul i {
  text-decoration: none;
  color: #fd2155;
  font-size: 30px;
}

.contact .icons {
  padding: 30px;
}

.contact .icons a {
  display: inline;
  text-decoration: none;
  color: #fd2155;
  padding: 0 10px;
}

.contact .icons i {
  font-size: 30px;
}

/* Footer styling */
.footer {
  font-family: "Sora", sans-serif;
  padding: 30px 0;
  background: #f3f0f0;
}

.footer p {
  color: #fd2155;
  font-size: 13px;
  margin: 0;
}

/* media query start */
@media (max-width: 1400px) {
  .about-content {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
  }
}

@media (max-width: 850px) {
  .card-group {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 670px) {
  .about-content img {
    border-radius: 50px;
    box-shadow: 9px 9px 15px #b1acac;
    display: inline;
    width: 85%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  .about-content .about-text p {
    margin: 0 auto;
    display: inline;
    line-height: 5px;
    font-size: 15px;
    text-align: center;
  }
  .about-content .about-text {
    padding: 20px 25px 20px 25px;
  }
  .navbar .menu {
    position: fixed;
    height: 90vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    padding-top: 85px;
    transition: all 0.3s ease;
  }
  .navbar .menu-button {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 25px;
    z-index: 999;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu-button i.active:before {
    content: "\f00d";
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: larger;
    transition: 0.4s;
  }
  .navbar .header .menu a:hover {
    color: #fd2155;
    cursor: pointer;
  }
  .home .home-content {
    font-size: smaller;
  }
  .projects h1 {
    font-size: 20px;
  }
  .projects p {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .projects .card-body {
    padding: 10px 3px;
  }
  .card-group {
    width: 95%;
  }
}

@media (max-width: 360px) {
  .home .home-content .text1 {
    font-size: 15px;
  }
  .home .home-content .text2 {
    font-size: 3.9em;
  }
  .home .home-content .text3 {
    font-size: 1em;
  }
  .projects .icons i {
    font-size: 40px;
    padding: 0 5px;
  }
  .projects a i {
    font-size: 20px;
  }
}
