body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navbar styling */
.navbar {
  position: sticky;
  width: 100%;
  font-family: monospace;
  color: #fff;
  padding: 15px 25px;
  transition: all 0.3s ease;
  background: #000;
  top: 0;
  z-index: 999;
}

.navbar.sticky {
  padding: 12px 25px;
  background: #000;
}

.navbar .header a {
  text-decoration: none;
  color: rgb(241, 239, 239);
  transition: 0.4s;
}

.navbar .header a:hover {
  color: #fd2155;
  cursor: pointer;
}

.navbar .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo styling */
.navbar .logo {
  font-size: 30px;
  font-weight: 600;
  float: left;
}

.navbar .logo a {
  text-decoration: none;
  color: #fd2155;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a {
  font-family: monospace;
  color: #fd2155;
  text-decoration: none;
}

/* menu styling */
.navbar .menu {
  float: right;
  margin: 0px;
  padding: 0px;
}

.navbar .menu li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
  font-size: 15px;
}

.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}

.navbar .menu-button {
  color: #fff;
  cursor: pointer;
  font-size: 23px;
  display: none;
}

/* Home Section Styling */
.home {
  display: flex;
  height: 100vh;
  width: 100%;
  color: #fff;
  font-family: monospace;
  background: #0e0e0e;
  background-size: 800px;
  min-height: 500px;
}

.home .home-section {
  margin: auto auto;
  text-align: center;
}

.home .home-section .home-content {
  text-align: center;
  padding: 0 5px;
}

.home .home-content .text1 {
  font-size: 20px;
  font-family: monospace;
  color: #fd2155;
}

.home .home-content .text2 {
  font-size: 5em;
  font-family: "Sora", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 0 10px;
}

.home .home-content .text3 {
  padding: 0 10px;
  font-size: 3em;
  font-family: "Sora", sans-serif;
  color: #b1acac;
}

/* About me section styling */
section {
  padding: 100px 0;
}

.about {
  background: #fff;
  width: 100%;
}

.about .title {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.about-content .about-text {
  padding: 20px 50px 20px 50px;
  text-align: justify;
}

.about-content .about-text p {
  margin: 0;
  display: inline;
  line-height: 30px;
  font-size: 18px;
}

.about-content img {
  height: 600px;
  width: 500px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 9px 9px 15px #b1acac;
  display: inline;
  text-align: center;
}

/* Projects section styling */
.projects {
  background: #0e0e0e;
  width: 100%;
  color: #fff;
}

.projects .title {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.projects-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  text-align: center;
  margin: 0 auto;
  background: #0e0e0e;
}

.projects .card {
  border: none;
  background: rgba(44, 44, 44, 0.5);
  margin: 15px 10px;
  padding: 15px 10px;
  border-radius: 15px;
}

.projects .card:hover {
  transform: scale(1.05);
}

.projects .weather-app-ss {
  margin: 10px 10px;
  padding: 5px 20px;
}

.projects img {
  width: calc(95% - 10px);
  border-radius: 10px;
}

.projects img:hover {
  transform: scale(1.05);
  opacity: 0.5;
}

.projects h1 {
  font-size: 35px;
  color: #fff;
  font-family: "Sora", sans-serif;
  padding: 10px;
}

.projects p {
  padding: 0 15px;
  color: #b1acac;
  font-size: 18px;
  text-align: justify;
}

.projects .card:hover {
  background: rgba(44, 44, 44, 0.9);
}

.projects .weather-app-description {
  margin: 20px auto;
}

/*
footer {
  text-align: center;
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  color: #fd2155;
  font-size: 1.3rem;
}
*/

/* media query start */
@media (max-width: 1500px) {
  .projects .projects-content {
    display: block;
    margin: 0 auto;
    width: calc(70% - 10px);
    text-align: center;
  }
  .projects h1 {
    font-size: 30px;
  }

  .projects p {
    font-size: 17px;
  }
}

@media (max-width: 1400px) {
  .about-content {
    display: block;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
  }
}

@media (max-width: 670px) {
  .about-content img {
    border-radius: 50px;
    box-shadow: 9px 9px 15px #b1acac;
    display: inline;
    width: 85%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  .about-content .about-text p {
    margin: 0 auto;
    display: inline;
    line-height: 5px;
    font-size: 15px;
    text-align: center;
  }
  .about-content .about-text {
    padding: 20px 25px 20px 25px;
  }
  .navbar .menu {
    position: fixed;
    height: 90vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: rgba(0, 0, 0, 0.95);
    text-align: center;
    padding-top: 85px;
    transition: all 0.3s ease;
  }
  .navbar .menu-button {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 25px;
    z-index: 999;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu-button i.active:before {
    content: "\f00d";
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: larger;
    transition: 0.4s;
  }
  .navbar .header .menu a:hover {
    color: #fd2155;
    cursor: pointer;
  }
  .home .home-content {
    font-size: smaller;
  }

  .projects .projects-content {
    display: block;
    margin: 0 auto;
    width: calc(70% - 10px);
    text-align: center;
  }
  .projects h1 {
    font-size: 20px;
  }

  .projects p {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .projects .projects-content {
    display: block;
    margin: 0 auto;
    width: calc(85% - 10px);
    text-align: center;
  }

  .projects .weather-app-ss {
    margin: 5px auto;
    padding: 5px 5px;
  }

  .projects .weather-app-description {
    margin: 2px 2px;
  }
  .projects h1 {
    font-size: 18px;
    margin: 0;
  }

  .projects p {
    font-size: 14px;
  }
}

@media (max-width: 360px) {
  .home .home-content .text1 {
    font-size: 15px;
  }
  .home .home-content .text2 {
    font-size: 3.9em;
  }
  .home .home-content .text3 {
    font-size: 23px;
  }
}
