/* Navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  font-family: monospace;
  color: #fff;
  padding: 15px 25px;
  transition: all .3s ease;
  background: #000;
}

.navbar.sticky {
  padding: 12px 25px;
  background:#fd2155;
  
}

.navbar .header a {
  text-decoration: none;
  color: rgb(241, 239, 239);
  transition: 0.4s;
}

.navbar .header a:hover {
  color: #fd2155;
  cursor: pointer;
}

.navbar .header,
.home .home-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-size: 30px;
  font-weight: 600;
  float: left;
}


.navbar .logo a {
  text-decoration: none;
  color: #fd2155;
  transition: all .3s ease;
}

.navbar.sticky .logo a {
  font-family: monospace;
  color:#fff;
  text-decoration: none;

}

.navbar .menu {
  float: right;
  margin: 0px;
  padding: 0px;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  padding: 0px 10px;
  font-size: 15px;
}


.navbar .menu li a {
  color: #fff;
  text-decoration: none;
}



/* Home Section Styling */
.home {
  display: flex;
  height: 100vh;
  color: #fff;
  font-family: monospace;
  background: #000;
  min-height: 500px;
  min-width: 400px;
}

.home .home-section {
  
}



.home .home-section .home-content {
  margin: 0 auto;
  text-align: center;
  padding: 0 auto;
}

.home .home-content .text1 {
  font-size: 20px;
  font-family: monospace;
  color: #fd2155;
}

.home .home-content .text2 {
  font-size: 5em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  font-weight: bolder;
}

.home .home-content .text3 {
  font-size: 3em;
  font-family: verdana;
  color: #b1acac;
}

/* About Me Section */

/*

footer {
  text-align: center;
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
  color: #fd2155;
  font-size: 1.3rem;
}
